<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.star.module.front.dao.FensMapper">

    <select id="selectGivePage" resultType="com.star.module.operation.vo.GiveVo">
        SELECT
        f.fens_id fensId,
        f.nick_name nickName,
        fl.vigour_val vigourVal,
        fl.add_user addUser,
        fl.add_time addTime
        FROM
        fens_vigour_log fl
        LEFT JOIN fens f ON fl.fens_id = f.id
        WHERE fl.type = 5
        <if test="giveTime != null and giveTime != ''">
            and	fl.add_time &gt;  #{giveTime}
        </if>
        <if test="giveTimeEnd != null and giveTimeEnd != ''">
            and	fl.add_time &lt; #{giveTimeEnd}
        </if>
        <if test="id != null">
            and	f.fens_id LIKE CONCAT('%',#{id},'%')
        </if>
        order by fl.add_time desc
    </select>

    <update id="updateVigour">
        update fens SET vigour_val = vigour_val + #{vigourVal} , total_vigour_val = total_vigour_val + #{vigourVal} where id = #{id}
    </update>

    <update id="updateReduceVigour">
        update fens SET vigour_val = vigour_val - #{vigourVal} , consume_vigour_val = consume_vigour_val + #{vigourVal} where id = #{id}
    </update>

    <select id="selectFensIds" resultType="java.lang.Long">
        select fens_id from fens
    </select>
</mapper>
