<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.star.module.front.dao.HitListMapper">


    <select id="selectHitRankByStar" resultType="com.star.module.operation.vo.HitListVo">
        SELECT
        st.name AS starName,
        st.id AS starId,
        st.avatar AS starAvatar,
        IFNULL(SUM(hl.vigour_val),0) AS totalVigourVal
        FROM hit_list hl
        LEFT JOIN star st ON hl.star_id = st.id
        <where>
            <if test="startTime != null">
                and	hl.create_time <![CDATA[>= ]]> #{startTime,jdbcType=VARCHAR}
            </if>
            <if test="endTime != null">
                and	hl.create_time <![CDATA[<= ]]> #{endTime,jdbcType=VARCHAR}
            </if>
        </where>
        GROUP BY hl.star_id ORDER BY
        <if test="sortType==0">
            totalVigourVal asc
        </if>
        <if test="sortType==1">
            totalVigourVal desc
        </if>
        <choose>
            <when test="needLimit">
                LIMIT ${(pageNum-1) * pageSize}, ${pageSize}
            </when>
            <otherwise>
            </otherwise>
        </choose>
    </select>

    <select id="totalCount" resultType="java.lang.Integer">
        SELECT
        COUNT(DISTINCT hl.star_id ) AS totalCount
        FROM hit_list hl
        LEFT JOIN star st ON hl.star_id = st.id
        <where>
            <if test="startTime != null">
                and	hl.create_time <![CDATA[>= ]]> #{startTime,jdbcType=VARCHAR}
            </if>
            <if test="endTime != null">
                and	hl.create_time <![CDATA[<= ]]> #{endTime,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <select id="selectFensMarkRankByFens" resultType="com.star.module.operation.vo.FensMarkVo">
        SELECT
        fs.nick_name AS fensName,
        hl.fens_id AS fensId,
        hl.star_id AS starId,
        IFNULL(SUM(hl.vigour_val),0) AS totalVigourVal
        FROM hit_list hl
        LEFT JOIN fens fs ON fs.id = hl.fens_id
        <where>
            <if test="startTime != null">
                and	hl.create_time <![CDATA[>= ]]> #{startTime,jdbcType=VARCHAR}
            </if>
            <if test="endTime != null">
                and	hl.create_time <![CDATA[<= ]]> #{endTime,jdbcType=VARCHAR}
            </if>
            <if test="starId != null and starId!=''">
                and	hl.star_id = #{starId}
            </if>
        </where>
        GROUP BY hl.fens_id ORDER BY
        <if test="sortType==0">
            totalVigourVal asc
        </if>
        <if test="sortType==1">
            totalVigourVal desc
        </if>
        <choose>
            <when test="needLimit">
                LIMIT ${(pageNum-1) * pageSize}, ${pageSize}
            </when>
            <otherwise>
            </otherwise>
        </choose>
    </select>

    <select id="totalCountFensMark" resultType="java.lang.Integer">
        SELECT
        COUNT(DISTINCT hl.fens_id) AS totalCount
        FROM hit_list hl
        LEFT JOIN fens fs ON fs.id = hl.fens_id
        <where>
            <if test="startTime != null">
                and	hl.create_time <![CDATA[>= ]]> #{startTime,jdbcType=VARCHAR}
            </if>
            <if test="endTime != null">
                and	hl.create_time <![CDATA[<= ]]> #{endTime,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <select id="getThisRank" resultType="java.lang.Integer">
        SELECT t.rank_no FROM (
            SELECT
                @rownum:=@rownum + 1 AS rank_no,
                star_id,
                sum( vigour_val ) as val
                FROM
                ( SELECT @rownum := 0 ) r,
                hit_list
                WHERE
                create_time <![CDATA[>= ]]>  #{startTime,jdbcType=VARCHAR}
                AND create_time <![CDATA[<= ]]>  #{endTime,jdbcType=VARCHAR}
                GROUP BY
                star_id  order by val desc
        ) t where star_id = #{id}
    </select>
</mapper>
