<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.star.module.front.dao.HitListMapper">


    <select id="selectHitRankByStar" resultType="com.star.module.operation.vo.HitListVo">
        SELECT
        st.name AS starName,
        st.star_id AS starId,
        st.id AS id,
        st.avatar AS starAvatar,
        IFNULL(SUM(hl.vigour_val),0) AS totalVigourVal
        FROM hit_list hl
        LEFT JOIN star st ON hl.star_id = st.id
        <where>
            <if test="startTime != null">
                and	hl.create_time <![CDATA[>= ]]> #{startTime,jdbcType=VARCHAR}
            </if>
            <if test="endTime != null">
                and	hl.create_time <![CDATA[<= ]]> #{endTime,jdbcType=VARCHAR}
            </if>
        </where>
        GROUP BY hl.star_id ORDER BY
        <if test="sortType==0">
            totalVigourVal asc
        </if>
        <if test="sortType==1">
            totalVigourVal desc
        </if>
        <choose>
            <when test="needLimit">
                LIMIT ${(pageNum-1) * pageSize}, ${pageSize}
            </when>
            <otherwise>
            </otherwise>
        </choose>
    </select>

    <select id="totalCount" resultType="java.lang.Integer">
        SELECT
        COUNT(DISTINCT hl.star_id ) AS totalCount
        FROM hit_list hl
        LEFT JOIN star st ON hl.star_id = st.id
        <where>
            <if test="startTime != null">
                and	hl.create_time <![CDATA[>= ]]> #{startTime,jdbcType=VARCHAR}
            </if>
            <if test="endTime != null">
                and	hl.create_time <![CDATA[<= ]]> #{endTime,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <select id="selectFensMarkRankByFens" resultType="com.star.module.operation.vo.FensMarkVo">
        SELECT
        fs.nick_name AS fensName,
        fs.avatar_url AS fensAvatarUrl,
        hl.fens_id AS fensId,
        hl.star_id AS starId,
        IFNULL(SUM(hl.vigour_val),0) AS totalVigourVal
        FROM hit_list hl
        LEFT JOIN fens fs ON fs.id = hl.fens_id
        <where>
            <if test="startTime != null">
                and	hl.create_time <![CDATA[>= ]]> #{startTime,jdbcType=VARCHAR}
            </if>
            <if test="endTime != null">
                and	hl.create_time <![CDATA[<= ]]> #{endTime,jdbcType=VARCHAR}
            </if>
            <if test="starId != null and starId!=''">
                and	hl.star_id = #{starId}
            </if>
        </where>
        GROUP BY hl.fens_id ORDER BY
        <if test="sortType==0">
            totalVigourVal asc
        </if>
        <if test="sortType==1">
            totalVigourVal desc
        </if>
        <choose>
            <when test="needLimit">
                LIMIT ${(pageNum-1) * pageSize}, ${pageSize}
            </when>
            <otherwise>
            </otherwise>
        </choose>
    </select>

    <select id="totalCountFensMark" resultType="java.lang.Integer">
        SELECT
        COUNT(DISTINCT hl.fens_id) AS totalCount
        FROM hit_list hl
        LEFT JOIN fens fs ON fs.id = hl.fens_id
        <where>
            <if test="startTime != null">
                and	hl.create_time <![CDATA[>= ]]> #{startTime,jdbcType=VARCHAR}
            </if>
            <if test="endTime != null">
                and	hl.create_time <![CDATA[<= ]]> #{endTime,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <select id="totalCountVigourMark" resultType="java.lang.Integer">
        SELECT
        sum(hl.vigour_val) AS totalCount
        FROM hit_list hl
        LEFT JOIN fens fs ON fs.id = hl.fens_id
        <where>
            <if test="startTime != null">
                and	hl.create_time <![CDATA[>= ]]> #{startTime,jdbcType=VARCHAR}
            </if>
            <if test="endTime != null">
                and	hl.create_time <![CDATA[<= ]]> #{endTime,jdbcType=VARCHAR}
            </if>
            <if test="starId != null">
                and	hl.star_id =  #{starId}
            </if>
        </where>
    </select>

    <select id="getThisRank" resultType="java.lang.Integer">
        SELECT t.rank_no FROM (
            SELECT
                @rownum:=@rownum + 1 AS rank_no,
                star_id,
                sum( vigour_val ) as val
                FROM
                ( SELECT @rownum := 0 ) r,
                hit_list
                WHERE
                create_time <![CDATA[>= ]]>  #{startTime,jdbcType=VARCHAR}
                AND create_time <![CDATA[<= ]]>  #{endTime,jdbcType=VARCHAR}
                GROUP BY
                star_id  order by val desc
        ) t where star_id = #{id}
    </select>


    <select id="getLastRank" resultType="com.star.module.front.vo.HomeCarouselVo">
        SELECT
        t1.id starId,
        t1.name starName,
        open_img openImg,
        home_img img
        FROM(
        SELECT star_id,sum( vigour_val ) AS val FROM hit_list
        WHERE
         create_time <![CDATA[>= ]]>  #{startTime,jdbcType=VARCHAR}
                AND create_time <![CDATA[<= ]]>  #{endTime,jdbcType=VARCHAR}
        GROUP BY star_id ORDER BY val DESC  LIMIT 1
        ) t2
        LEFT JOIN star t1 ON t1.id = t2.star_id
    </select>

    <select id="getFensThisRank" resultType="com.star.module.front.vo.FensVigourRankVo">
       SELECT
            @rownum:=@rownum + 1 AS rank_no,
            fens_id fensId,
            sum( vigour_val ) as vigourVal
            FROM
            ( SELECT @rownum := 0 ) r,
            hit_list
            WHERE
            1 = 1
            <if test="startTime != null and endTime!=null">
                AND create_time <![CDATA[>= ]]>  #{startTime,jdbcType=VARCHAR}
                AND create_time <![CDATA[<= ]]>  #{endTime,jdbcType=VARCHAR}
            </if>
            AND star_id = #{id}
            GROUP BY
            fens_id  order by vigourVal desc
    </select>

    <select id="statisticsRankByTimeAndStar" resultType="com.star.module.front.entity.HitList">
       SELECT star_id starId,sum( vigour_val ) AS vigourVal FROM hit_list
        WHERE
         create_time <![CDATA[>= ]]>  #{startTime,jdbcType=VARCHAR}
                AND create_time <![CDATA[<= ]]>  #{endTime,jdbcType=VARCHAR}
                AND star_id in
        <foreach collection="startIds" item="code" open="(" separator="," close=")">
            #{code}
        </foreach>
        GROUP BY star_id
    </select>


    <select id="statisticsRankByTime" resultType="com.star.module.front.entity.HitList">
        SELECT star_id starId,sum( vigour_val ) AS vigourVal FROM hit_list
        WHERE
        create_time <![CDATA[>= ]]>  #{startTime,jdbcType=VARCHAR}
        AND create_time <![CDATA[<= ]]>  #{endTime,jdbcType=VARCHAR}
        GROUP BY star_id
    </select>
</mapper>
